body {
    margin: 0;
    font-family: monospace;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-inline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-container {
    margin: 5% 5%;
    // margin-top: 12%;

    section {
        width: 100%;
        height: calc(100vh - 52px); // 52 px pour la sticky navbar
        margin-bottom: 5%;
        box-sizing: border-box;
        padding: 5%;
    }

    section#aboutme {
        background-color: aqua;
    }
    section#projects {
        background-color: aqua;
    }
    section#curriculum {
        background-color: aqua;
    }
    section#contactinfo {
        background-color: aqua;
    }
}

.padding_top {
    // pour compenser la sticky navbar
    padding-top: 53px;
}
