body {
    margin: 0;
    font-family: monospace;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-inline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-container {
    margin: 5% 5%;
    // margin-top: 12%;

    section {
        width: 100%;
        height: 100vh;
        margin-bottom: 5%;
        box-sizing: border-box;
        padding: 5%;
    }

    section#aboutme {
        background-color: aqua;
    }
}
